.icons-container{
margin-top: 2px;
}
.card-allin-container{
display: flex;
flex-wrap: wrap;
}


.card-allin{
    text-align: center;
padding: 10px;
 .card-img{
     border-radius: 12px;
     overflow: hidden;
 }
.card-description{
    font-size: 24px;
    line-height: 36px;
}
}

.card-icon{
    text-align: center;
    padding: 30px;
.icon-image{
    width: 120px;
    margin: 0 auto;
}

.icon-description{
    font-size: 15px;


}

}
.card-describe-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-describe{
    margin-bottom: 30px;
border-radius: 30px;
overflow: hidden;
line-height: 1.3;
    .card-description{
        background-color:$orange;
        color:black;
        padding: 20px;
        margin: 0;
      
    }
   
}

.card-number{
    display: flex;
    justify-content: center;
    height: 240px;
    align-items: center;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    .number-color{
        line-height: 1;
        font-size: 220px;
        font-weight: 900;
        position: absolute;
        z-index: -1;
        opacity: 0.2;
    }

   
}

.card-number:nth-child(1) .number-color{
    color:$green;
}
.card-number:nth-child(2) .number-color{
    color:$orange;
}
.card-number:nth-child(3) .number-color{
    color:$green;
}
.card-number:nth-child(4) .number-color{
    color:$violet;
}

.card-costum{
    margin: 10px 0;
    text-align: center;
    .costum-img{
border-radius: 10px;
overflow: hidden;
    }
    .costum-description{
        font-size: 24px;
        font-weight: 700;
    }
    .button{
        background-color: $orange;
        border-color:$orange
    }
}

@media screen and (min-width: 400px){
    .card-icon{
    
        .icon-image{
            width: 180px;
        }
        .icon-description{
            font-size: 24px;
        }
        }
.card-number{
    height: 320px;
    font-size: 19px;
    .number-color{
        font-size: 288px;
    }
    .card-number-description{
        font-size: 22px;
    }
}



.card-describe .card-description{
    font-size: 20px;
    padding:35px 25px;
}
}
@media screen and (min-width: 500px){
    .card-allin{
        width: 50%;
    }
}
@media screen and (min-width: 600px){
    .icons-container{
        display: flex;
        flex-wrap: wrap;
    }
    .card-icon {
        width: 50%;
    }

    .card-describe{
 display: flex;
 flex-direction: column;
        width:calc( 50% - 20px);
        .card-description{
            flex-grow: 3;
        }
    }
 .card-number-container{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;

 }
 .card-number{
    width: 50%;
}

}

@media screen and (min-width: 1000px){
    .card-describe{
        display: flex;
        flex-direction: row;
               width:calc( 50% - 20px);
               .card-description{
                   width: 55%;
                   font-size: 19px;
                   display: flex;
                   justify-content: center;
                   align-items: center;
                   padding: 37px;
               }
               .card-img{
                   width: 45%;
               }
           }

        
}

@media screen and (min-width: 1200px){
    .card-icon{
width: 33.33%;
    }

    
        
        .card-number , .card-allin{
            width: 25%;
        }
    
}