.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
  }

  .grid-item {
    padding: 20px;
  }

  .width-1-1 {
    width: 100%;
  }

  @media (min-width: 600px) {

    .width-1-2-m {
        width: 50%;
      }
  }
  @media (min-width: 1000px) {

    .width-1-4-xl {
        width: 25%;
      }  
    
    .width-1-3-xl {
        width: 33.33%;
      }
  }