header{
    
background-color: #000;
padding: 10px;
color:white;
min-height: 90px;
display:flex;
justify-content: flex-start;
align-items: center;
 & .button{
font-size: inherit;
 }
}
.nav-toggle{
    z-index: 2;
}

.nav-open .nav{
    background-color:#000;
    height: auto;
    transition: 0.3s;
    font-size: 26px;
    line-height: 2;
   color: white;
   transform: translate(0);
   opacity: 1;

}

.logo{
    height: auto;
    padding: 10px 0;
    margin-right: 20px;
    width: 200px;
    
    & a{
        display: block;
    }
    }

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    padding: 10px;
    display: block;
    color:inherit;
    text-decoration:none;
}

.nav-open .nav-toggle{
    position: fixed;
    &::before {
       transform: rotate(45deg);
       position: absolute;
     
      
    }
    &::after {
       transform: rotate(-45deg);
       position: absolute;
     
    }
    & .line{
        display: none;
    }
}
 .nav-open .nav-background{
    position: fixed;
    top:0;
    bottom:0;
    left:0 ;
    right:0;
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.63);
}
.nav{
    
    top:0;
    left:0;
    text-align: center;
    width: 100vw;
       padding: 90px 10px;
    z-index: 1;
    position: fixed;
    color: black;
transition:0.5s;
    transform: translate(0 , -120vh) scale(2);
    opacity: 0;
}

.nav-toggle{
    height: 40px;
    width: 40px;
    position: absolute;
    right: 20px;
    top:20px;
      display: flex;
   justify-content:space-around ;
   align-items: center;
   flex-direction: column;
   &::before{
    height: 3px;
    width: 80%;
background-color: #fff;
content: "";
display: block;
transition: 0.1s;
}
   &::after{
    transition: 0.1s;
    height: 3px;
    width: 80%;
background-color: #fff;
content: "";
display: block;
}
    .line{
     
        height: 3px;
        width: 80%;
background-color: #fff;

    }
}
@media (min-width:400px){
    .nav-open .nav{
font-size: 30px;
    }
}

@media (min-width:600px){

}

@media (min-width:900px){
.nav-item:hover{
    color:$green;
}
.nav-toggle{
    display: none;
   
}
.container .nav-background{
    display: none;
}
   .container .nav{
        
            text-align: center;
            width: auto;
               padding:10px 30px 10px 10px;
         
            position: static;
            color: white;
      font-size: 16px;
            transform: translate(0) scale(1);
            opacity: 1;
        



        flex-grow: 2;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-around;
    }


.logo{
    width: 150px;
}


}

@media (min-width:1200px){
.logo{
    width: 250px;
}
.nav{
    font-size: 22px;
}
}