.list{
    list-style-type: none;
    padding: 0;
    
}

.choose-list {
    padding:15px 20px 15px 50px;
    color: white;
    line-height: 2;
    margin: 0;
    ul{
        margin: 0;
    }
    span{
        font-weight: 800;
        color: $violet;
        margin-right: 10px;
    }
font-size: 24px;
}
@media screen and (min-width: 900px) {
    .choose-list {
        padding:40px 20px 40px 50px;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    }
