.hero{
margin-top: -2px;
    border-top:solid black 1px;
    figure{
             background-color: #000;
  }
.hero-title-container{
        background-color: #000;
    display: flex;
    align-items: center;
} 
  .hero-title{
      width: 100%;
      margin: 0;
      color: #fff;
      font-size: 36px;
  padding: 30px 20px;
 
  }

  .hero-bottom{
     
background-color: $grey;
      
  }
}
.hero-description{
  margin: 0;
  padding: 36px 25px;
  line-height: 1.5;
}

.section iframe{
    width: 100%;
   height: calc(100vw / 1.6 );
  
}

.section{
    padding: 40px 0;
}

.section-title{
    font-size: 24px;
    font-weight: 400;
}

.section-description{
    line-height: 1.5;
    font-size: 19px;
    text-align: center;
    margin-bottom: 50px;
    
}

.section-discribe{
    color: white;

}

.section-price{


    background-color: $grey;
    .price-item:nth-child(1){
border-bottom: solid 1px $green;
    }

    .price-item{
        padding:5px;
    }

    .big-fz{
        font-size: 72px; 
     }
.m-fz{
    font-size: 24px;
}
.table-price{
    font-size: 19px;
    line-height: 1;
    margin-bottom: 40px;
}

.add-price{
    font-size: 36px;
}



}
h4{
    font-size: 19px;
}

.crosed-price{
    color:#4C4D50;
    font-size: 24px;
    margin-bottom: 10px;
}
.crossed{
        font-size: 48px;
        position: relative;
        font-size: 40px;
    
    
    &:before {
        border-bottom: 4px solid red;
        position: absolute;
        content: "";
        width: 100%;
        height: 50%;
        transform: rotate(-11deg);
    }

}

.price-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
        align-items: center;
}

.botder-toptd{
    display: block;
    
    margin-top: 20px;
        }
       .order-text{
font-size: 24px;
font-weight: 600;
text-align: center;

       }
@media screen and (min-width: 480px) {
    .section{
        padding: 52px 0;
    }

    .hero .hero-description{
        font-size: 24px;
    }
    
    .section-title{
        font-size: 36px;
    }
    
    .section-description{
        font-size: 24px;
    }

    .section-price{
        .big-fz{
            font-size: 96px; 
         }
         .m-fz{
             font-size: 48px;
         }
         .table-price{
             font-size: 24px;
         }
             
         .crosed-price{
             color:#4C4D50;
             font-size: 36px;
         }
         .crossed{
                 font-size: 72px;
         }
     
    }


}


@media screen and (min-width: 780px) {

    .section-price{
        td{
            padding: 10px 0;
        }
        .price-container{
          
          flex-direction: row;
          justify-content: center;
        }
.price-item{
    width: calc( 50% - 10px);
    display: flex;
    justify-content: center;
    padding: 20px;
}

    .price-item:nth-child(1){
        border-bottom: none;
        border-top:solid 1px $green;
        border-right:solid 1px $green;
            }
    .price-item:nth-child(2){
        
        border-top:solid 1px $green;
        border-left:solid 1px $green;
            }
        }
}



@media screen and (min-width: 900px) {
    .section{
        padding: 80px 0;

    }

    .hero-description{
        margin: 0;
        padding: 60px;
      
    }
    .hero{
        figure{
            order: 2;
        }
        .hero-title{
            padding: 20px;
            text-align: left;
        }
    }
    .hero-top{
        display: flex;
       }


  }

  @media screen and (min-width: 1200px) {
      .hero{
          .hero-title{
              padding: 0;
            font-size: 64px;
            margin-left: calc(50vw - 600px );

          }
          .hero-description{
            padding: 100px;
        }

          .hero-title-container{
              min-height: 500px;
              padding-bottom: 100px;
          }
        .hero-bottom{
            width: calc(50% + 600px);
                       margin-left: calc(50% - 600px );
            padding-right:calc(50% - 600px ) ;
            
                }

      }
.hero-bottom{
    margin-top: -100px;
position: relative;
    z-index: 1;
}

.section iframe{
    height: 600px;
}
  }

